header{
    height: 62px;
    background-color: rgba(248,249,250,255);
}

header nav section{
    border: 1px solid red;
}

ul{list-style-type: none;padding: 0;}
a{text-decoration: none;color: #fff;}
button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.flex{
    display: flex;
}

nav{
    align-items: center;
}

.band{
    background-color: #fff;
    height: 100%;
}

.logo{
    width: 10%;
}

.logo img{
    display: none;
    height: 50px;
}

@media (max-width: 768px) {
    .logo svg{
        display: none;
    }
   .logo img{
    display: block;
   }
   .icon{
    display: none;
   }
}

.search{
    width: 80%;
    height: 100%;
    background-color: rgba(229,229,229,255);
    border-radius: 10px;
    padding: 5px 7px;
}

.search input{
    background-color: rgba(229,229,229,255);
    border: none;
}

.nav{
    margin-left: auto;
}



#bell{
    color: rgba(255,143,0,255);
}





















main{ 
    height: calc(100vh - 62px);
}

.contents{
    width: calc(100% - 150px);
    background-color: rgba(248,249,250,255);
}

.side-bar{
    background-color: rgba(9,33,55,255);
    background-image: url(img/sidebar-bg.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.side-bar li{
    padding: 5px 8px;
}

.side-bar li:hover{
    background-color: rgb(207,209,211);
}

.side-bar a{
    margin: 10px 10px;
    font-size: 18px;
}

@media (max-width: 768px) {
  .side-bar{
    width: 60px;
  }
  .side-bar a{
    display: none;
  }
  .contents{
    width: calc(100% - 60px);
  }
}

#stats{
    margin-left: 16px;
}

.band-top{
    background-color: rgba(27,114,232,255);
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.col{
    background-color: #fff;
    border: 1px solid grey;
}

