header{
    height: 62px;
    background-color: rgba(248,249,250,255);
}

ul{list-style-type: none;padding: 0;}
a{text-decoration: none;color: #fff;}
button{margin: 0;padding: 0;background-color: transparent;border: none;}

.flex{
    display: flex;
}

nav{
    align-items: center;
}

.band{
    background-color: #fff;
    height: 100%;
}

.logo{
    width: 15%;
}

.logo img{
    display: none;
    height: 50px;
}

@media (max-width: 768px) {
    .logo svg{
        display: none;
    }
   .logo img{
    display: block;
   }
   .icon{
    display: none;
   }
}

.search{
    width: 75%;
    height: 100%;
    background-color: rgba(229,229,229,255);
    border-radius: 10px;
    padding: 5px 7px;
}

.search input{
    background-color: rgba(229,229,229,255);
    border: none;
}

.nav{
    margin-left: auto;
}



#bell{
    color: rgba(255,143,0,255);
}

main{ 
    height: calc(100vh - 62px);
}

.contents{
    width: calc(100% - 150px);
    background-color: rgba(248,249,250,255);
    overflow-y: scroll;
}

.side-bar{
    background-color: rgba(9,33,55,255);
    background-image: url(img/sidebar-bg.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.side-bar li{
    padding: 5px 8px;
}

.side-bar li:hover{
    background-color: rgb(207,209,211);
}

.side-bar a{
    margin: 10px 10px;
    font-size: 18px;
}

@media (max-width: 768px) {
  .side-bar{
    width: 60px;
  }
  .side-bar a{
    display: none;
  }
  .contents{
    width: calc(100% - 60px);
  }
}

#stats{
    margin-left: 16px;
}

.band-top{
    background-color: rgba(27,114,232,255);
    justify-content: space-between;
    color: #fff;
}
.band-top h2{display: inline;margin-bottom: 7px;line-height: 55px;}
.band-top h3{font-size:2rem}


.bg-span{
    display: inline;
    background-color: rgba(22,91,186,255);
    border-radius: 10px;
    padding: 3px 6px;
}

.add{
    color: #fff;
    border: 1px solid #fff;
    vertical-align: baseline;
}
.add:hover{
    background-color: #fff;
    color: black;
}

@media (max-width: 768px) {
  .offcanvas{
    width: 100%;
  }
}

.col{
    background-color: #fff;
    border: 1px solid grey;
}

#bg-gold{
    background-color: rgba(255,193,7,255);
    border: none;
}
.bg-titles{
    background-color: rgba(247,247,247,255);
}

.br-black{border: 1px solid #333;}

.bg-white{
    background-color: #fff;
}

.graphic-container p{
    font-size: 10px;
}

#repo{text-decoration: underline;color: rgb(33,115,228);}

.table thead{font-size: 14px;font-weight: none;}
.table tbody{font-size: 12px;}

.avatar{
    width: 30px;
}

.bg-green{
    background-color: green;
    padding: 3px 6px;
    border-radius: 10px;
    color: #fff;
}

.bg-red{
    background-color: red;
    padding: 3px 6px;
    border-radius: 10px;
    color: #fff;
}

.bg-yellow{
    background-color: gold;
    padding: 3px 6px;
    border-radius: 10px;
    color: #fff;
}

.caption{
    width: 120px;
    text-align: center;
}

.table>:not(caption)>*>*{
    padding: 10px 15px;
}

.table>tbody{
    vertical-align: middle;
}

@media (max-width: 1100px) {
    .first-omission{
        display: none;
    }
  
}

@media (max-width: 920px) {
    .second-omission{
        display: none;
    }
  
}

